{% extends 'app/base.html' %}
{% load static %}

{% block cart_content %}
<div class="row">
    <div class="col-lg-12">
        <!-- Tiếp tục mua sắm và tóm tắt giỏ hàng -->
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'home' %}">
                &#x2190; Trở về trang chủ
            </a>
            <br><br>
            
        <!-- Bảng giỏ hàng -->
        <div class="box-element">
            <!-- Header Row -->
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng cộng</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Cart Item Row -->
                    {%for item in items %}
                    <tr>
                        <td>
                            <img class="row-image" src="{{item.product.ImageURL}}" alt="Product 1" style="width: 100px; height: 100px; margin: 0 5px;">
                        </td>
                        <td>
                            <p>{{item.product.name}}</p>
                        </td>
                        <td>
                            <p>{{item.product.price | floatformat:3}} VND</p>
                        </td>
                        <td>
<div class="quantity" style="align-items: center;">
    <img data-product={{item.product.id}} data-action= 'add' class="chg-quantity update-cart" style="width: 10px; height: 10px;" src="{% static 'app/images/arrow-up.png' %}">
    <p class="quantity-text" style="margin: 5px 0;">{{item.quantity}}</p>
    <img data-product={{item.product.id}} data-action= 'remove' class="chg-quantity update-cart" style="width: 10px; height: 10px;" src="{% static 'app/images/arrow-down.png' %}">
</div>

                        </td>
                        <td>
                            <p>{{item.product.price | floatformat:3}} VND</p>
                        </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
            <table class="table">
                <tr>
                    <th>
                        <h5>Sản Phẩm: <strong>{{order.get_cart_items}}</strong></h5>
                    </th>
                    <th>
                        <h5>Tổng tiền: <strong>{{order.get_cart_total | floatformat:3}} VND</strong></h5>
                    </th>
                    <th>
                        <a style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">
                            Thanh toán
                        </a>
                    </th>
                </tr>
            </table>
        </div>

        <br>

</div>
{% endblock cart_content %}
